html
  head 
    title ttt
  body
    h1 terribly tiny tales assignment
    
    form(action='/test', method='POST')
      p
        | enter comma separated stream of roll nos : 
        input(type='text', name='title', value='')
      input(type='submit', value='Submit')